@model IEnumerable<WebsiteStockManagement.Models.Product> 

@{
    ViewData["Title"] = "Index";
}

<h1 style="font: bold" >View Products</h1>

<br />

<form asp-action="Index" method="get">

    @if (ViewBag.RemoveDelete == 0)
    {

    }
    else
    {
    <p>
    <div class="form-actions">
        <select asp-items="ViewBag.Farmers" value="@ViewData["CurrentFarmer"]" name="SearchFarmer" class="form-control-sm" style="margin-right: 175px"></select>
        <input name="ButtonFarmer" type="submit" value="Search Farmer" class="btn btn-outline-success" style="outline-color: blue"/>
    </div>
    </p>
    }
    <br />
    <div class="form-actions">
        <p>
            <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" style="margin-right: 100px"/>
            <input name="ButtonSearch" type="submit" value="Search Product Type" class="btn btn-outline-success"/>
        </p>
    </div>
    <br />
    <div class="form-actions">
        <p>
            <input type="date" name="SearchDate" value="@ViewData["CurrentDate"]" />
            <input type="date" name="SearchDate1" value="@ViewData["CurrentDate1"]" />
            <input name="ButtonDate" type="submit" value="Search for Date Range" class="btn btn-outline-success"/>
        </p>
    </div>
    <br />
    
    <div class="text-danger">
        <strong>@ViewBag.MsgSelectedFarmer</strong>
    </div>
    <br />
</form>
    <table class="table">
        <thead>
            <tr style=" Background: #66ba75;font: 20px, bold">
                <th>
                    Product Type
                </th>
                <th>
                    Product Price (R)
                </th>
                <th>
                    Product Date
                </th>
                <th>
                    Farmer Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="Background: #e4ffd8">
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductType)
                    </td>
                    <td>
                       R @Html.DisplayFor(modelItem => item.ProductPrice) 
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductDaterange)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Users.UsersFirstname)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                        @if (ViewBag.RemoveDelete == 0)
                        {
                            <a asp-action="Delete" asp-route-id="@item.ProductId" hidden="hidden">Delete</a>
                            <a asp-action="Create" asp-route-id="@item.ProductId">Add another product</a>
                        }
                        else
                        {
                            <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
<br />
    <a asp-action="Index">Back to Full List</a>
